
<section class="dashboard">
    <h1>Welcome, {{username}}!</h1>
    <div class="post-list">
        <h2>Your Posts</h2>
        {{#if userPosts.length}}
            <ul>
                {{#each userPosts as |post|}}
                    <li>
                        <h3><a href="/posts/{{post.id}}">{{post.title}}</a></h3>
                        <p>{{post.content}}</p>
                        <small>Posted on {{format_date post.createdAt}}</small>
                        <a href="/edit/{{post.id}}" class="edit-btn">Edit</a>
                        <form action="/delete/{{post.id}}" method="POST" class="delete-form">
                            <button type="submit">Delete</button>
                        </form>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>You haven't written any posts yet. <a href="/new">Create one now!</a></p>
        {{/if}}
    </div>
</section>
